<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AugmentedReadingApp.Properties.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AugmentedReadingApp.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AugmentedReadingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AugmentedReadingApp.Properties.Settings2>
            <setting name="voiceInteraction" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="encyclopediaApi" serializeAs="String">
                <value />
            </setting>
            <setting name="definitionApi" serializeAs="String">
                <value />
            </setting>
            <setting name="imageApi" serializeAs="String">
                <value />
            </setting>
            <setting name="translationApi" serializeAs="String">
                <value />
            </setting>
            <setting name="videoApi" serializeAs="String">
                <value />
            </setting>
            <setting name="languageTranslate" serializeAs="String">
                <value />
            </setting>
            <setting name="cameraTextIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraTextWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraTextHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureComplementIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorX3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorY2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureValorY3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureTextJpg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gestureRecognitionOnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cameraGestureWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="cameraGestureHeight" serializeAs="String">
                <value />
            </setting>
        </AugmentedReadingApp.Properties.Settings2>
        <AugmentedReadingApp.Settings2>
            <setting name="voiceInteraction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="buttonDisplay" serializeAs="String">
                <value />
            </setting>
        </AugmentedReadingApp.Settings2>
        <AugmentedReadingApp.Properties.Settings>
            <setting name="ValorX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorX3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorY2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorY3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextJpg" serializeAs="String">
                <value />
            </setting>
        </AugmentedReadingApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>